// Custom styles.
// body { 
//     //margin-top:10px;
    
//     background-image:url("/images/bg.jpg");
//     background-size:cover;
//     background-repeat: no-repeat;
//     background-attachment:fixed;
// } 
// .post{
//     margin-top:10px;
// }
// .post-block{
//     background:  rgba(255,255,255,0.95);
// }
// .sidebar{
//     background:  rgba(255,255,255,0.9);
// }
// .sidebar-inner{
//     background:  rgba(255,255,255,0);
// }