// Custom styles.
::-webkit-scrollbar{
    display:none;
}
body { 
    //margin-top:10px;
    
    background-image:url("/images/bg2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
} 
// .post{
//     margin-top:10px;
// }
// .header-inner{
//      background:  rgba(255,255,255,0.9);
// }
.headband{
    max-height:0;
    min-height:0;
    height:0;
    //background: rgba(255,255,255,0);
}
// footer{
//     background-color: rgba(0,0,0,0);
// }
// .content-wrap{
//     // margin-top:20px;
//     background: rgba(0,0,0,0);
// }
// // #content{
// //     margin: 0px;
// // }
// // #posts{
// //     margin: 0px;    
// // }
// // .post{
// //     background: white;
// //     margin: 0px;
// // }
// .post-block{
//     // margin-bottom: 20px;
//     background:  rgba(255,255,255,1);
// }
// .post-header{
//     margin-top: 15px;
//     }
// footer{
//     background-color : rgb(255,255,255);
//     color: black;
// }
// .sidebar{
//     background:  rgba(255,255,255,0.9);
// }
// .sidebar-inner{
//     background:  rgba(255,255,255,0.9);
// }