// $font = 'KaiTi';
// .post-title{
//     font-family: $font;
// }
// .post-body{
//     font-family: $font;
// }
body{
    background-image: url(/images/bgt.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}